<p id="notice"><%= notice %></p>

<p>
  <strong>Duration:</strong>
  <%= @pomodoro.duration %>
</p>

<p>
  <strong>Task:</strong>
  <%= @pomodoro.task_id %>
</p>

<%= link_to 'Edit', edit_pomodoro_path(@pomodoro) %> |
<%= link_to 'Back', pomodoros_path %>
